@font-face {
    	font-family: 'Robot';
    	src: url('fonts/mr-robot-webfont.woff2') format('woff2'),
             url('fonts/mr-robot-webfont.woff') format('woff');
    	font-weight: 200;
    	font-style: normal;

}

body{
	background-color: rgb(251,249,242);
	overflow-x: hidden;
	overflow-y: scroll;
}

/*----------NAV BAR----------*/

#topleft{
	font-family: 'Robot', Arial;
	color: red;
}

.navbar-brand{
	font-family: Arial;
}

/*---------INDEX PAGE--------*/

#video-background {
	right: 0; 
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
	width: auto; 
	height: auto;
	z-index: -100;
	margin: 0 auto;
}

#centerlogo{
	position: absolute;
    	top: 30%; bottom:0; left: 0; right:0;
	margin: 0 auto;
}

.page-header{
	text-align: center;
}

h3{
	text-align: center;
}

/*-------ABOUT US------*/

.jumbotron {
    width: 100%;
    height: 100%;
    padding: 0;
    margin-bottom: 0;
    padding-top: 20px;
    margin-top: 0;
    padding-bottom: 120px;
    background-color: rgb(249,244,230);
    background-color: rgba(249,244,230,0.5);
    color: #333;
}
.materials {
    color: #333;
    background: url(../images/vapor.jpg) no-repeat center center fixed;
    background-size: cover;
}
.design{
    color: #333;
    background: url(../images/vapor.jpg) no-repeat center center fixed;
    background-size: cover;
    margin-top: 0;
    width: 100%;
    background-color: rgb(251,249,242);
    background-color: rgba(251,249,242,0.9);
}
.overlay {
    margin-top: 100px;
    width: 100%;
    background-color: rgb(251,249,242);
    background-color: rgba(251,249,242,0.9);
    color: #333;
}

#oldmac{
	position: absolute;
  	top: 6000%;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	margin: 10px;
}

footer {
	background-color: rgb(251,249,242);
    	margin-top: 50px;
    	height:50px;
	text-align: center;
    }

/* Custom Button Styles */



.about {
    padding: 50px 0;
}

.star h1, h2 {
  margin-top: 60px;
}

a:link {
    color: #333;
}

a:visited {
    color: #333;
}

a:active {
    color: #333;
}

