@main("About Us") {
    <!-- HTML content for the index view -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-46249700-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

    <div class="row">
	<div class="page-contents">
        <!-- About us ---->
        <div class="jumbotron about" id="0">
            <div class="container center">
                <div class="row">
                    <div class="col-sm-5">
                        <h1>About Us</h1>
                        <p>Inspired by a software engineer for a father whilst my brother and I grew up in the mid 70's. Spending time together on our fathers computer during our teenage years quickly revealed our passion for electronics and software. We decided to become partners after we both graduated from MIT with degrees in computer software engineering.</p> 
                        <p>We opened our first store in our hometown, Brooklyn NY, in 1984. So many people came to our store in the years following, building long lasting friendships with ourselves and our small staff team. We were always putting the customer first making sure to provide the best possible prices for our trusting customers and that is what the MR.ROBOT brand is built upon</p>
                    </div>
                    <div class="clearfix visible-xs"></div>
                    <div class="col-sm-7 col-sm-push-1 col-xs-12">
                        <img src="@routes.Assets.versioned("images/oldmac.jpg")" class="img-responsive" id="oldmac">
                    </div>
                    <div class="breathingroom visible-xs"></div>
                </div>
            </div>
        </div>
        <!-- content ---->
        <div class="jumbotron materials" id="1">
            <div class="overlay">
                <div class="container center overlay-inside">
                    <div class="row breathingroom">
                        <div class="col-sm-12">
                            <h1>Materials &amp; Construction</h1>
                            <p>Our accessories are meant to last and last. All of our accessories are U.S. made, handcrafted in Brooklyn, NY for adopted animals and their people.</p>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="text-center">
                                    <img src="img/materials/rope-drawing.png" class=""></div>
                                    <p>Our leashes are hand-spliced to withstand thousands of pounds of pull with the ends then "whipped" (an old nautical term) for additional durability.</p>
                                </div>
                                <div class="col-sm-4">
                                    <div class="text-center">
                                    <img src="img/materials/collar-drawing.png" class=""></div>
                                    <p>Nothing ages more beautifully than marine-grade rope and metals or waxed canvas.</p>
                                </div>
                                <div class="col-sm-4">
                                    <div class="text-center">
                                    <img src="img/materials/fma_medallion.png" class=""></div>
                                    <p>The individually-numbered, stamped tags on each FOUND leash serve as a reminder of the uniqueness of your animal and allow us to keep track of the number of animals you have helped so far.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--    Design
  ================================================== ---->
        <div class="jumbotron materials" id="1">
            <div class="overlay">
                <div class="container center overlay-inside">
                    <div class="row breathingroom">
                        <div class="col-sm-12">
                            <h1>Materials &amp; Construction</h1>
                            <p>Our accessories are meant to last and last. All of our accessories are U.S. made, handcrafted in Brooklyn, NY for adopted animals and their people.</p>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="text-center">
                                    <img src="img/materials/rope-drawing.png" class=""></div>
                                    <p>Our leashes are hand-spliced to withstand thousands of pounds of pull with the ends then "whipped" (an old nautical term) for additional durability.</p>
                                </div>
                                <div class="col-sm-4">
                                    <div class="text-center">
                                    <img src="img/materials/collar-drawing.png" class=""></div>
                                    <p>Nothing ages more beautifully than marine-grade rope and metals or waxed canvas.</p>
                                </div>
                                <div class="col-sm-4">
                                    <div class="text-center">
                                    <img src="img/materials/fma_medallion.png" class=""></div>
                                    <p>The individually-numbered, stamped tags on each FOUND leash serve as a reminder of the uniqueness of your animal and allow us to keep track of the number of animals you have helped so far.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--    Sizing
  ================================================== ---->
        <div class="jumbotron sizing" id="3">
            <div class="container center">
                <h1>Sizing</h1>
                <ul id="sizing-charts-tabs" class="nav nav-tabs sizing-section">
                    <li class="active">
                        <a href="#leashes-chart" data-toggle="tab">Leashes</a>
                    </li>
                    <li>
                        <a href="#collars-chart" data-toggle="tab">Collars &amp; Harnesses</a>
                    </li>
                    <li>
                        <a href="#accessories-chart" data-toggle="tab">Accessories</a>
                    </li>
                </ul>
                <div id="sizing-chart-content" class="tab-content">
                    <div class="tab-pane fade active in" id="leashes-chart">
                        <div class="col-12 givesomeroom">
                            <h4>Leashes
                                <small>Adjustable</small>
                            </h4>
                            <div class="table-responsive">
                                <table class="table table-condensed">
                                    <thead>
                                        <th class="table-size-icon"></th>
                                        <th class="table-size-size">Size</th>
                                        <th class="table-size-dog">Weight</th>
                                        <th class="table-size-l">Length</th>
                                        <th class="table-size-thick">Thickness</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="table-size-icon">
                                                <img src="img/thumbs/size/s.png" alt="S Dog">
                                            </td>
                                            <td class="table-size-size">
                                                S
                                            </td>
                                            <td class="table-size-dog">
                                                5&ndash;12lbs
                                            </td>
                                            <td class="table-size-l">
                                                7 ft
                                            </td>
                                            <td class="table-size-thick">
                                                6 mm
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="table-size-icon">
                                                <img src="img/thumbs/size/m.png" alt="M Dog">
                                            </td>
                                            <td class="table-size-size">
                                                M
                                            </td>
                                            <td class="table-size-dog">
                                                12&ndash;50 lbs
                                            </td>
                                            <td class="table-size-l">
                                                7 ft
                                            </td>
                                            <td class="table-size-thick">
                                                8 mm
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="table-size-icon">
                                                <img src="img/thumbs/size/l.png" alt="L Dog">
                                            </td>
                                            <td class="table-size-size">
                                                L
                                            </td>
                                            <td class="table-size-dog">
                                                50&ndash;100+ lbs
                                            </td>
                                            <td class="table-size-l">
                                                7 ft
                                            </td>
                                            <td class="table-size-thick">
                                                12 mm
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-12 givesomeroom">
                            <h4>Leashes
                                <small>Standard</small>
                            </h4>
                            <div class="table-responsive">
                                <table class="table table-condensed">
                                    <thead>
                                        <th class="table-size-icon"></th>
                                        <th class="table-size-size">Size</th>
                                        <th class="table-size-dog">Weight</th>
                                        <th class="table-size-l">Length</th>
                                        <th class="table-size-thick">Thickness</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="table-size-icon">
                                                <img src="img/thumbs/size/s.png" alt="S Dog">
                                            </td>
                                            <td class="table-size-size">
                                                S
                                            </td>
                                            <td class="table-size-dog">
                                                5&ndash;12lbs
                                            </td>
                                            <td class="table-size-l">
                                                5 ft
                                            </td>
                                            <td class="table-size-thick">
                                                6 mm
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="table-size-icon">
                                                <img src="img/thumbs/size/m.png" alt="M Dog">
                                            </td>
                                            <td class="table-size-size">
                                                M
                                            </td>
                                            <td class="table-size-dog">
                                                12&ndash;50 lbs
                                            </td>
                                            <td class="table-size-l">
                                                5 ft
                                            </td>
                                            <td class="table-size-thick">
                                                8 mm
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="table-size-icon">
                                                <img src="img/thumbs/size/l.png" alt="L Dog">
                                            </td>
                                            <td class="table-size-size">
                                                L
                                            </td>
                                            <td class="table-size-dog">
                                                50&ndash;100+ lbs
                                            </td>
                                            <td class="table-size-l">
                                                5 ft
                                            </td>
                                            <td class="table-size-thick">
                                                12 mm
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--  end Leashes -->
                   <div class="tab-pane fade" id="collars-chart">
                        <div class="col-12 givesomeroom">
                            <h4>Collars
                                <small>Rope</small>
                            </h4>
                            <div class="table-responsive">
                                <table class="table table-condensed">
                                    <thead>
                                        <th class="table-size-icon"></th>
                                        <th class="table-size-size">Size</th>
                                        <th class="table-size-dog">Weight</th>
                                        <th class="table-size-l">Length</th>
                                        <th class="table-size-thick">Thickness</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="table-size-icon">
                                                <img src="img/thumbs/size/s.png" alt="S Dog">
                                            </td>
                                            <td class="table-size-size">
                                                S
                                            </td>
                                            <td class="table-size-dog">
                                                5&ndash;12 lbs
                                            </td>
                                            <td class="table-size-dog">
                                                10&ndash;13 in
                                            </td>
                                            <td class="table-size-thick">
                                                1/2 in
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="table-size-icon">
                                                <img src="img/thumbs/size/m.png" alt="M Dog">
                                            </td>
                                            <td class="table-size-size">
                                                M
                                            </td>
                                            <td class="table-size-dog">
                                                12&ndash;30 lbs
                                            </td>
                                            <td class="table-size-dog">
                                                12.5&ndash;15 in
                                            </td>
                                            <td class="table-size-thick">
                                                5/8 in
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="table-size-icon">
                                                <img src="img/thumbs/size/l.png" alt="L Dog">
                                            </td>
                                            <td class="table-size-size">
                                                L
                                            </td>
                                            <td class="table-size-dog">
                                                30&ndash;40 lbs
                                            </td>
                                            <td class="table-size-dog">
                                                15&ndash;18 in
                                            </td>
                                            <td class="table-size-thick">
                                                7/8 in
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="table-size-icon">
                                                <img src="img/thumbs/size/xl.png" alt="XL Dog">
                                            </td>
                                            <td class="table-size-size">
                                                XL
                                            </td>
                                            <td class="table-size-dog">
                                                40+ lbs
                                            </td>
                                            <td class="table-size-dog">
                                                19&ndash;22.5 in
                                            </td>
                                            <td class="table-size-thick">
                                                1 in
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="col-12 givesomeroom">
                            <h4>Collars
                                <small>Canvas</small>
                            </h4>
                            <div class="table-responsive">
                                <table class="table table-condensed">
                                    <thead>
                                        <th class="table-size-icon"></th>
                                        <th class="table-size-size">Size</th>
                                        <th class="table-size-dog">Weight</th>
                                        <th class="table-size-l">Length</th>
                                        <th class="table-size-thick">Thickness</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="table-size-icon">
                                                <img src="img/thumbs/size/s.png" alt="S Dog">
                                            </td>
                                            <td class="table-size-size">
                                                S
                                            </td>
                                            <td class="table-size-dog">
                                                5&ndash;12 lbs
                                            </td>
                                            <td class="table-size-dog">
                                                9&ndash;12 in
                                            </td>
                                            <td class="table-size-thick">
                                                1/2 in
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="table-size-icon">
                                                <img src="img/thumbs/size/m.png" alt="M Dog">
                                            </td>
                                            <td class="table-size-size">
                                                M
                                            </td>
                                            <td class="table-size-dog">
                                                12&ndash;30 lbs
                                            </td>
                                            <td class="table-size-dog">
                                                10.5&ndash;13.5 in
                                            </td>
                                            <td class="table-size-thick">
                                                5/8 in
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="table-size-icon">
                                                <img src="img/thumbs/size/l.png" alt="L Dog">
                                            </td>
                                            <td class="table-size-size">
                                                L
                                            </td>
                                            <td class="table-size-dog">
                                                30&ndash;40 lbs
                                            </td>
                                            <td class="table-size-dog">
                                                13.5&ndash;18.5 in
                                            </td>
                                            <td class="table-size-thick">
                                                7/8 in
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="table-size-icon">
                                                <img src="img/thumbs/size/xl.png" alt="XL Dog">
                                            </td>
                                            <td class="table-size-size">
                                                XL
                                            </td>
                                            <td class="table-size-dog">
                                                40+ lbs
                                            </td>
                                            <td class="table-size-dog">
                                                19&ndash;27 in
                                            </td>
                                            <td class="table-size-thick">
                                                1 in
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                         <div class="col-12 givesomeroom" id="harness-sizing">
                                <h4>Harnesses</h4>
                                <div class="col-xs-12 col-sm-7">
                                <div class="table-responsive">
                                    <table class="table table-condensed table-striped">
                                        <thead>
                                            <th class="table-size-icon"></th>
                                            <th class="table-size-size">Size</th>
                                            <th class="table-size-dog">Girth</th>
                                            <th class="table-size-l">Harness Width</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="table-size-icon">
                                                    <img src="img/thumbs/size/s.png" alt="S Dog">
                                                </td>
                                                <td class="table-size-size">
                                                    S
                                                </td>
                                                <td class="table-size-dog">
                                                    13&ndash;18 in
                                                </td>
                                                <td class="table-size-dog">
                                                    1/2 in
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="table-size-icon">
                                                    <img src="img/thumbs/size/m.png" alt="M Dog">
                                                </td>
                                                <td class="table-size-size">
                                                    M
                                                </td>
                                                <td class="table-size-dog">
                                                    19&ndash;27 in
                                                </td>
                                                <td class="table-size-dog">
                                                    1/2 in
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="table-size-icon">
                                                    <img src="img/thumbs/size/l.png" alt="L Dog">
                                                </td>
                                                <td class="table-size-size">
                                                    L
                                                </td>
                                                <td class="table-size-dog">
                                                    20&ndash;30 in
                                                </td>
                                                <td class="table-size-dog">
                                                    1 in
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                </div>

                                <div class="col-xs-12 col-sm-5 text-center">
                                    <img src="img/about/harness_sizing.png" class="img-responsive">
                                </div>
                            </div>

                    </div>
                    <div class="tab-pane fade" id="accessories-chart">
                        <div class="col-6 col-sm-6 givesomeroom">
                            <h4>Accesories
                                <small>Bed</small>
                            </h4>
                            <div class="table-responsive">
                                <div class="table-responsive">
                                    <table class="table table-condensed">
                                        <thead>
                                            <th class="table-size-icon"></th>
                                            <th class="table-size-size">Size</th>
                                            <th class="table-size-dog">Dimensions</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="table-size-icon">
                                                    <img src="img/thumbs/size/m.png" alt="M Dog">
                                                </td>
                                                <td class="table-size-size">
                                                    M
                                                </td>
                                                <td class="table-size-dog">
                                                    30x30 in
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="table-size-icon">
                                                    <img src="img/thumbs/size/l.png" alt="L Dog">
                                                </td>
                                                <td class="table-size-size">
                                                    L
                                                </td>
                                                <td class="table-size-dog">
                                                    40x40 in
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--                END OF CHARTS-->
            </div>
        </div>
        <!--    End Sizing Section -->
        
        <!--     END OF CONTENT SECTIONS    -->
        
    <!-- End MAIN container -->


    </div>
}
