@main("Our Home") {
    <!-- HTML content for the index view -->
    <!-- Introduction Row -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">The latest greatest tech equipment 
                <small>Only The Best For Our Users!</small>
            </h1>
        </div>
    </div>

    <!-- Project One -->
        <div class="row">
            <div class="col-sm-4">
                <a href="laptops.html">
                    <img class="img-responsive" src="@routes.Assets.versioned("images/laptops/asus_laptop.jpg")" alt="">
                </a>
                <a href="laptops.html"><h3>Laptops and Tablets</h3><hr></a>
				<ul>
					<li> Excellent battery life</li><hr>
					<li> Excellent battery life</li><hr>
					<li> Excellent battery life</li><hr>
					<li> Excellent battery life</li>
				</ul>
            </div>

        <div class="col-sm-4">
                <a href="desktops.html">
                    <img class="img-responsive" src="@routes.Assets.versioned("images/towers/rainmaker_gaming_pc.jpg")" alt="">
                </a>
                <a href="desktops.html"><h3>Desktops</h3></a>
                                <hr>
				<ul>
				        <li> Excellent performance</li><hr>
					<li> Excellent performance</li><hr>
					<li> Excellent performance</li><hr>
					<li> Excellent performance</li>
				</ul>
            </div>
			
		<div class="col-sm-4">
                <a href="tvs.html">
                    <img class="img-responsive" src="@routes.Assets.versioned("images/televisions/sony4k_tv2.jpg")" alt="">
                </a>
                <a href="desktops.html"><h3>Televisions</h3><hr></a>
				<ul>
					<li> Excellent 4k</li><hr>
					<li> Excellent 4k</li><hr>
					<li> Excellent 4k</li><hr>
					<li> Excellent 4k</li>
				</ul>
                        </div>
		</div>
        <!-- /.row -->
}
